/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

.width{
    width: 70%;
}

.white{
    background-color: white;
}

.grey{
    background-color: rgba(210,210,210,255);
}
/* Header */
header{
    background-color: rgba(173,216,230,255);
    padding-bottom: 3px;
}
/* NavBar */
#navContainer{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navContainer > div{
    background-color: rgba(220,165,29,255);
    display: flex;
    padding: 5px;
}

.logoLogin{
    width: 25%;
}

#link{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#link > ul{
    display: flex;
}

#link li{
    margin-right: 5px;
}

#link li:last-child{
    margin-right: 0;
}

#login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* Second Block Header */
#secondBlock{
    background-color: rgba(0,0,139,255);
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secondBlock > div{
    height: 300px;
    background-color: rgba(238,130,238,255);
    width: 50%;
}
/* Main */
.section{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section > div{
    display: flex;
}

.azzurro{
    height: 300px;
    width: 60%;
    background-color: rgba(30,145,255,255);
}

.pink{
    height: 300px;
    width: 40%;
    background-color: rgba(255,201,213,255);
}

#containerSection4{
    height: 500px;
    background-color: rgba(34,139,34,255);
}
/* Footer */
footer{
    background-color: rgba(35,39,42,255);
}
/* First Block Footer */
#firstBlockFooter{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#firstBlockFooter > div{
    display: flex;
}

#section1{
    height: 300px;
    width: 30%;
    background-color: rgba(240,128,128,255);
}

#section2{
    width: 70%;
    display: flex;
}

.column{
    height: 300px;
    width: 25%;
    background-color: rgba(32,160,154,255);
    border: 1px solid black;
}
/* Second Block Footer */
#secondBlockFooter{
    border-top: 3px solid rgba(210,210,210,255);
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secondBlockFooter > div{
    background-color: rgba(124,236,206,255);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.btn{
    background-color: rgba(210,210,210,255);
    display: inline-block;
    padding: 5px;
}